<style type="text/css">
<!--
.subnav { 
font-family: Arial, Helvetica, sans-serif ; 
font-size: 0.7em ; 
font-style: normal ; 
font-weight: bold ; 
color: #003399 ; 
text-decoration: none ; 
line-height: 1.2em }

.button { 
font-family: Arial, Helvetica, sans-serif ; 
font-size: 12px ; 
font-style: normal ; 
font-weight: bold ; color: #ffffff ; 
text-decoration: none ; 
line-height: 14px }

.menus { 
font-family: Arial, Helvetica, sans-serif ; 
font-size: 0.6em ; 
text-decoration: none ; 
color: #003399 ; 
line-height: 1.2em }

.smsubnav {  font-family: Arial, Helvetica, sans-serif; 
font-size: 10px;
font-style: normal; 
font-weight: bold; 
color: 003399; 
text-decoration: none;
line-height: 11px}

A:hover { color: #990033 }

b { color: #555555 }
-->
</style><!--
     FILE ARCHIVED ON 23:45:20 Aug 15, 2000 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:54:41 Nov 18, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.528
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.012
  esindex: 0.01
  cdx.remote: 13.638
  LoadShardBlock: 67.377 (3)
  PetaboxLoader3.datanode: 70.833 (4)
  load_resource: 26.653
-->